<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean class="redis.clients.jedis.JedisPool" id="jedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="139.224.114.192" type="java.lang.String"/>
        <constructor-arg index="2" value="6379" type="int"/>
    </bean>

    <bean class="redis.clients.jedis.JedisPoolConfig" id="jedisPoolConfig">
        <!--最大连接数 -->
        <property name="maxTotal" value="5000" />
        <!--最大空闲连接数 -->
        <property name="maxIdle" value="100" />
        <!--初始化连接数 -->
        <property name="minIdle" value="100" />
        <!--最大等待时间 -->
        <property name="maxWaitMillis" value="1000" />
        <!--定时对线程池中空闲的链接进行validateObject校验 -->
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="true" />
        <!--在进行returnObject对返回的connection进行validateObject校验 -->
        <property name="testOnReturn" value="true" />
    </bean>

</beans>