<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 配置springMvc -->
    <!-- 1:开启springMvc注解模式 -->
    <!-- 简化配置：
        （1）自动注册defaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
                   使用注解驱动的handler映射          基于注解方法的handler适配器
        （2）默认提供一系列的：数据绑定，数字和日期的format @NumberFormat,@DataTimeFormat,
        xml,json默认读写支持。
        -->
    <mvc:annotation-driven/>
    <!-- servlet-mapping 映射的路径：“/” -->
    <!-- 静态资源配置，默认servlet配置
        1：加入对静态资源的处理；js,css,图片
        2：允许使用一个/做整体映射
     -->
    <mvc:default-servlet-handler/>

    <context:component-scan base-package="com.demo.control"/>


    <!--拦截器-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash; 拦截所有URL中包含/user/的请求 &ndash;&gt;-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/**/fonts/*"/>-->
            <!--不拦截websocket相关的请求-->
            <!--<mvc:exclude-mapping path="/websocket/**"/>-->
            <!--<bean class="com.yunxin.api.LoginInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->



    <!-- 2:配置jsp，显示viewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 4:扫描web相关的bean -->
    <context:component-scan base-package="com.demo.control"/>
    <!--系统启动-->
    <!--<context:component-scan base-package="com.demo.common.init"/>-->

    <!-- 控制器异常处理 -->
    <!--<bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">-->
    <!--</bean>-->
    <!--<bean class="com.yunxin.exception.DefaultExceptionHandler"/>-->



    <!--5 返回数据自动转换-->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
            </bean>
            <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->
            <!-- 配置Fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" p:charset="UTF-8">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>QuoteFieldNames</value>
                        <value>WriteDateUseDateFormat</value>
                        <value>WriteEnumUsingToString</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

</beans>