<component name="ArtifactManager">
  <artifact type="war" name="springmvcshiro:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc-shiro-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvcshiro:war exploded" />
    </root>
  </artifact>
</component>